In [1]:
import pandas as pd
import numpy as np

# Demographic Variables and Sample Weights (DEMO_H)
RIAGENDR - Gender
RIDAGEYR - Age in years at screening
female = 2

# Medical Conditions (MCQ_H)
SEQN - Respondent sequence number
- MCQ230A - What kind of cancer (Code 14 is Breast, many codes many different cancers)
- MCQ240E - Age when breast cancer first diagnosed
- MCQ220 - Ever told you had cancer or malignancy
no = 2


# Body Measures (BMX_H)
SEQN - Respondent sequence number
BMXBMI - Body Mass Index (kg/m**2)


# Complete Blood Count with 5-part Differential - Whole Blood (CBC_H)
SEQN - Respondent sequence number
LBXWBCSI - White blood cell count (1000 cells/uL)
LBXLYPCT - Lymphocyte percent (%)
LBXMOPCT - Monocyte percent (%)
LBXNEPCT - Segmented neutrophils percent (%)
LBXEOPCT - Eosinophils percent (%)
LBXBAPCT - Basophils percent (%)
LBDLYMNO - Lymphocyte number (1000 cells/uL)
LBDMONO - Monocyte number (1000 cells/uL)
LBDNENO - Segmented neutrophils num (1000 cell/uL)
LBDEONO - Eosinophils number (1000 cells/uL)
LBDBANO - Basophils number (1000 cells/uL)
LBXRBCSI - Red blood cell count (million cells/uL)
LBXHGB - Hemoglobin (g/dL)
LBXHCT - Hematocrit (%)
LBXMCVSI - Mean cell volume (fL)
LBXMCHSI - Mean cell hemoglobin (pg)
LBXMC - MCHC (g/dL)
LBXRDW - Red cell distribution width (%)
LBXPLTSI - Platelet count (1000 cells/uL)
LBXMPSI - Mean platelet volume (fL)
 

# Standard Biochemistry Profile (BIOPRO_H)
SEQN - Respondent sequence number
LBDSALSI - Albumin (g/L)
LBXSAPSI - Alkaline phosphatase (IU/L)
LBXSASSI - Aspartate aminotransferase AST (IU/L)
LBXSATSI - Alanine aminotransferase ALT (IU/L)
LBXSBU - Blood urea nitrogen (mg/dL)
LBDSBUSI - Blood urea nitrogen (mmol/L)
LBXSC3SI - Bicarbonate (mmol/L)
LBDSCASI - Total calcium (mmol/L)
LBDSCHSI - Cholesterol (mmol/L)
LBXSCK - Creatine Phosphokinase(CPK) (IU/L)
LBXSCLSI - Chloride (mmol/L)
LBDSCRSI - Creatinine (umol/L)
LBDSGBSI - Globulin (g/L)
LBDSGLSI - Glucose, refrigerated serum (mmol/L)
LBXSGTSI - Gamma glutamyl transferase (U/L)
LBDSIRSI - Iron, refrigerated serum (umol/L)
LBXSKSI - Potassium (mmol/L)
LBXSLDSI - Lactate dehydrogenase (U/L)
LBXSNASI - Sodium (mmol/L)
LBXSOSSI - Osmolality (mmol/Kg)
LBDSPHSI - Phosphorus (mmol/L)
LBDSTBSI - Total bilirubin (umol/L)
LBDSTPSI - Total protein (g/L)
LBDSTRSI - Triglycerides, refrigerated (mmol/L)
LBDSUASI - Uric acid (umol/L)

# Demographic Variables and Sample Weights (DEMO_H)
Selecting female population and age data

- RIAGENDR - Gender
- RIDAGEYR - Age in years at screening

female = 2

In [2]:
# Medical Conditions (MCQ_I)
df_demo = pd.read_sas('./NHANES 2013-2014/DEMO_H.XPT')

In [3]:
df_demo['RIAGENDR'].dtypes

dtype('float64')

In [4]:
df_demo

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83727.0,8.0,2.0,1.0,26.0,NaN,2.0,2.0,2.0,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1.0,104.0,77.0,77.0,NaN
10171,83728.0,8.0,2.0,2.0,2.0,24.0,1.0,1.0,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1.0,107.0,8.0,8.0,1.95
10172,83729.0,8.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1.0,104.0,7.0,7.0,3.66
10173,83730.0,8.0,2.0,1.0,7.0,NaN,2.0,2.0,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2.0,109.0,6.0,6.0,1.05
10174,83731.0,8.0,2.0,1.0,11.0,NaN,5.0,6.0,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2.0,106.0,15.0,15.0,5.00

In [5]:
# selecting gender: women SEQN and Age
df_demo = df_demo[(df_demo['RIAGENDR'] == 2 ) & (df_demo['RIDAGEYR'] > 10) ][['SEQN', 'RIDAGEYR']]

In [6]:
# selecting specific columns
df_demo.columns = ['SEQN', 'Age']

In [7]:
df_demo
#length 3853
len_demo = len(df_demo)
len_demo

3853

In [8]:
# check for duplicates
df_demo.duplicated().sum()

0

In [9]:
# check for missing values
df_demo.isna().sum()

SEQN    0
Age     0
dtype: int64

In [10]:
# check for null values
df_demo.isnull().sum()

SEQN    0
Age     0
dtype: int64

# Medical Conditions (MCQ_H)
SEQN - Respondent sequence number
- MCQ230a - What kind of cancer (Code 14 is Breast, many codes many different cancers)

- MCQ240e - Age when breast cancer first diagnosed

##### choosing not diagnosed ppl
- MCQ220 - Ever told you had cancer or malignancy
-no = 2

In [11]:
df_med = pd.read_sas('./NHANES 2013-2014/MCQ_H.XPT')

In [12]:
df_med.head()

,SEQN,MCQ010,MCQ025,MCQ035,MCQ040,MCQ050,AGQ030,MCQ053,MCQ070,MCQ075,...,MCQ300C,MCQ365A,MCQ365B,MCQ365C,MCQ365D,MCQ370A,MCQ370B,MCQ370C,MCQ370D,MCQ380
0,73557.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.000000e+00
1,73558.0,1.0,8.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
2,73559.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.397605e-79
3,73560.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,5.397605e-79

In [13]:
# match only dose SEQN matching the one inf df_demo (seqn variable)
df_med = df_med.loc[df_med['SEQN'].isin(df_demo['SEQN'])]

In [14]:
# is the length the same?
len(df_demo), len(df_med)

(3853, 3853)

In [15]:
# MCQ230A - What kind of cancer (Code 14 is Breast, many codes many different cancers)
# MCQ240E - Age when breast cancer first diagnosed
# MCQ220 - Ever told you had cancer or malignancy === no = 2

df_med = df_med[['SEQN', 'MCQ230A', 'MCQ240E', 'MCQ220']]

In [16]:
# add column breast cancer 'Diagnosis' 1 no 0
df_med['Breast Cancer'] = np.where(df_med['MCQ230A'] == 14,1,0)

In [17]:
df_med['Breast Cancer'].value_counts()

0    3758
1      95
Name: Breast Cancer, dtype: int64

In [18]:
# create a column cancer occurance 'Cancer' 1, no 0
df_med['Diagnosed'] = np.where(df_med['MCQ220'] == 2,0,1)

In [19]:
df_med['Diagnosed'].value_counts()

0    2700
1    1153
Name: Diagnosed, dtype: int64

In [20]:
# subset to have women that were diagnosed with breast cancer and women that were not diagnosed with any cancer
df_med = df_med[(df_med['Breast Cancer'] == 1) | (df_med['Diagnosed'] == 0)]

In [21]:
# changing the column name to diagnosis age and saving the dataset
df_med = df_med.rename(columns={'MCQ240E' : 'Diagnosis Age'})[['SEQN', 'Diagnosis Age', 'Breast Cancer', 'Diagnosed']]

In [22]:
# merge df_med with df_demo
df = pd.merge(df_demo, df_med, on='SEQN', how='inner')
len(df)

2795

# Body Measures (BMX_H)
- SEQN - Respondent sequence number
- BMXBMI - Body Mass Index (kg/m**2)

In [23]:
df_bmx = pd.read_sas('./NHANES 2013-2014/BMX_H.XPT')

In [24]:
# chose the ones with SEQN from df_med
df_bmx = df_bmx.loc[df_bmx['SEQN'].isin(df_med['SEQN'].tolist())][['SEQN', 'BMXBMI']]
# rename the column
df_bmx.rename(columns={'BMXBMI': 'BMI' })

         SEQN   BMI
4     73561.0  19.7
7     73564.0  35.7
8     73566.0  26.5
10    73568.0  20.3
15    73574.0  22.8
...       ...   ...
9786  83705.0  25.6
9792  83711.0  33.5
9798  83717.0  21.3
9799  83718.0  27.4
9810  83729.0  34.0

[2712 rows x 2 columns]

In [25]:
# join df_bmx and df_med into one df
df = pd.merge(df, df_bmx, how='inner', on=['SEQN'])
df.info()
# some SEQN apparently are missing, therefore the df is smaller

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 0 to 2711
Data columns (total 6 columns):
SEQN             2712 non-null float64
Age              2712 non-null float64
Diagnosis Age    93 non-null float64
Breast Cancer    2712 non-null int64
Diagnosed        2712 non-null int64
BMXBMI           2680 non-null float64
dtypes: float64(4), int64(2)
memory usage: 148.3 KB

# Complete Blood Count with 5-part Differential - Whole Blood (CBC_H)
- SEQN - Respondent sequence number
- LBXWBCSI - White blood cell count (1000 cells/uL)
- LBXLYPCT - Lymphocyte percent (%)
- LBXMOPCT - Monocyte percent (%)
- LBXNEPCT - Segmented neutrophils percent (%)
- LBXEOPCT - Eosinophils percent (%)
- LBXBAPCT - Basophils percent (%)
- LBDLYMNO - Lymphocyte number (1000 cells/uL)
- LBDMONO - Monocyte number (1000 cells/uL)
- LBDNENO - Segmented neutrophils num (1000 cell/uL)
- LBDEONO - Eosinophils number (1000 cells/uL)
- LBDBANO - Basophils number (1000 cells/uL)
- LBXRBCSI - Red blood cell count (million cells/uL)
- LBXHGB - Hemoglobin (g/dL)
- LBXHCT - Hematocrit (%)
- LBXMCVSI - Mean cell volume (fL)
- LBXMCHSI - Mean cell hemoglobin (pg)
- LBXMC - MCHC (g/dL)
- LBXRDW - Red cell distribution width (%)
- LBXPLTSI - Platelet count (1000 cells/uL)
- LBXMPSI - Mean platelet volume (fL)

In [26]:
df_blood = pd.read_sas('./NHANES 2013-2014/CBC_H.XPT')

In [27]:
# subset to SEQN from df
df_blood = df_blood.loc[df_blood['SEQN'].isin(df['SEQN'])]

In [28]:
col_dict = {
'LBXWBCSI' : 'White blood cell count (1000 cells/uL)',
'LBXLYPCT' : 'Lymphocyte percent (%)',
'LBXMOPCT' : 'Monocyte percent (%)',
'LBXNEPCT' : 'Segmented neutrophils percent (%)',
'LBXEOPCT' : 'Eosinophils percent (%)',
'LBXBAPCT' : 'Basophils percent (%)',
'LBDLYMNO' : 'Lymphocyte number (1000 cells/uL)',
'LBDMONO' : 'Monocyte number (1000 cells/uL)',
'LBDNENO' : 'Segmented neutrophils num (1000 cell/uL)',
'LBDEONO' : 'Eosinophils number (1000 cells/uL)',
'LBDBANO' : 'Basophils number (1000 cells/uL)',
'LBXRBCSI' : 'Red blood cell count (million cells/uL)',
'LBXHGB' : 'Hemoglobin (g/dL)',
'LBXHCT' : 'Hematocrit (%)',
'LBXMCVSI' : 'Mean cell volume (fL)',
'LBXMCHSI' : 'Mean cell hemoglobin (pg)',
'LBXMC' : 'MCHC (g/dL)',
'LBXRDW' : 'Red cell distribution width (%)',
'LBXPLTSI' : 'Platelet count (1000 cells/uL)',
'LBXMPSI' : 'Mean platelet volume (fL)'
}

In [29]:
df_blood = df_blood.rename(columns = col_dict)

In [30]:
# merge df_blood to df
df = pd.merge(df, df_blood, how='inner', on=['SEQN'])

In [31]:
len(df)

2712

# Standard Biochemistry Profile (BIOPRO_H)
SEQN - Respondent sequence number
- LBDSALSI - Albumin (g/L)
- LBXSAPSI - Alkaline phosphatase (IU/L)
- LBXSASSI - Aspartate aminotransferase AST (IU/L)
- LBXSATSI - Alanine aminotransferase ALT (IU/L)
- LBXSBU - Blood urea nitrogen (mg/dL)
- LBDSBUSI - Blood urea nitrogen (mmol/L)
- LBXSC3SI - Bicarbonate (mmol/L)
- LBDSCASI - Total calcium (mmol/L)
- LBDSCHSI - Cholesterol (mmol/L)
- LBXSCK - Creatine Phosphokinase(CPK) (IU/L)
- LBXSCLSI - Chloride (mmol/L)
- LBDSCRSI - Creatinine (umol/L)
- LBDSGBSI - Globulin (g/L)
- LBDSGLSI - Glucose, refrigerated serum (mmol/L)
- LBXSGTSI - Gamma glutamyl transferase (U/L)
- LBDSIRSI - Iron, refrigerated serum (umol/L)
- LBXSKSI - Potassium (mmol/L)
- LBXSLDSI - Lactate dehydrogenase (U/L)
- LBXSNASI - Sodium (mmol/L)
- LBXSOSSI - Osmolality (mmol/Kg)
- LBDSPHSI - Phosphorus (mmol/L)
- LBDSTBSI - Total bilirubin (umol/L)
- LBDSTPSI - Total protein (g/L)
- LBDSTRSI - Triglycerides, refrigerated (mmol/L)
- LBDSUASI - Uric acid (umol/L)

In [32]:
col_dict = {
'SEQN' : 'SEQN',
'LBDSALSI' : 'Albumin (g/L)',
'LBXSAPSI' : 'Alkaline phosphatase (IU/L)',
'LBXSASSI' : 'Aspartate aminotransferase AST (IU/L)',
'LBXSATSI' : 'Alanine aminotransferase ALT (IU/L)',
'LBXSBU' : 'Blood urea nitrogen (mg/dL)',
'LBDSBUSI' : 'Blood urea nitrogen (mmol/L)',
'LBXSC3SI' : 'Bicarbonate (mmol/L)',
'LBDSCASI' : 'Total calcium (mmol/L)',
'LBDSCHSI' : 'Cholesterol (mmol/L)',
'LBXSCK' : 'Creatine Phosphokinase(CPK) (IU/L)',
'LBXSCLSI' : 'Chloride (mmol/L)',
'LBDSCRSI' : 'Creatinine (umol/L)',
'LBDSGBSI' : 'Globulin (g/L)',
'LBDSGLSI' : 'Glucose, refrigerated serum (mmol/L)',
'LBXSGTSI' : 'Gamma glutamyl transferase (U/L)',
'LBDSIRSI' : 'Iron, refrigerated serum (umol/L)',
'LBXSKSI' : 'Potassium (mmol/L)',
'LBXSLDSI' : 'Lactate dehydrogenase (U/L)',
'LBXSNASI' : 'Sodium (mmol/L)',
'LBXSOSSI' : 'Osmolality (mmol/Kg)',
'LBDSPHSI' : 'Phosphorus (mmol/L)',
'LBDSTBSI' : 'Total bilirubin (umol/L)',
'LBDSTPSI' : 'Total protein (g/L)',
'LBDSTRSI' : 'Triglycerides, refrigerated (mmol/L)',
'LBDSUASI' : 'Uric acid (umol/L)'}

In [33]:
df_bio = pd.read_sas('./NHANES 2013-2014/BIOPRO_H.XPT')

In [34]:
# select the columns i want to keep
df_bio = df_bio[list(col_dict.keys())].rename(columns=col_dict)

In [35]:
# merge df_bio with df
df = pd.merge(df, df_bio, how='inner', on=['SEQN'])

In [36]:
len(df)

2712

# Clean up

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 0 to 2711
Data columns (total 51 columns):
SEQN                                        2712 non-null float64
Age                                         2712 non-null float64
Diagnosis Age                               93 non-null float64
Breast Cancer                               2712 non-null int64
Diagnosed                                   2712 non-null int64
BMXBMI                                      2680 non-null float64
White blood cell count (1000 cells/uL)      2625 non-null float64
Lymphocyte percent (%)                      2615 non-null float64
Monocyte percent (%)                        2615 non-null float64
Segmented neutrophils percent (%)           2615 non-null float64
Eosinophils percent (%)                     2615 non-null float64
Basophils percent (%)                       2615 non-null float64
Lymphocyte number (1000 cells/uL)           2615 non-null float64
Monocyte number (1000 cells/uL)             2615 non-null float64
Segmented neutrophils num (1000 cell/uL)    2615 non-null float64
Eosinophils number (1000 cells/uL)          2615 non-null float64
Basophils number (1000 cells/uL)            2615 non-null float64
Red blood cell count (million cells/uL)     2625 non-null float64
Hemoglobin (g/dL)                           2625 non-null float64
Hematocrit (%)                              2625 non-null float64
Mean cell volume (fL)                       2625 non-null float64
Mean cell hemoglobin (pg)                   2625 non-null float64
MCHC (g/dL)                                 2625 non-null float64
Red cell distribution width (%)             2625 non-null float64
Platelet count (1000 cells/uL)              2625 non-null float64
Mean platelet volume (fL)                   2625 non-null float64
Albumin (g/L)                               2590 non-null float64
Alkaline phosphatase (IU/L)                 2589 non-null float64
Aspartate aminotransferase AST (IU/L)       2588 non-null float64
Alanine aminotransferase ALT (IU/L)         2588 non-null float64
Blood urea nitrogen (mg/dL)                 2590 non-null float64
Blood urea nitrogen (mmol/L)                2590 non-null float64
Bicarbonate (mmol/L)                        2590 non-null float64
Total calcium (mmol/L)                      2580 non-null float64
Cholesterol (mmol/L)                        2588 non-null float64
Creatine Phosphokinase(CPK) (IU/L)          2587 non-null float64
Chloride (mmol/L)                           2590 non-null float64
Creatinine (umol/L)                         2590 non-null float64
Globulin (g/L)                              2588 non-null float64
Glucose, refrigerated serum (mmol/L)        2590 non-null float64
Gamma glutamyl transferase (U/L)            2589 non-null float64
Iron, refrigerated serum (umol/L)           2582 non-null float64
Potassium (mmol/L)                          2589 non-null float64
Lactate dehydrogenase (U/L)                 2588 non-null float64
Sodium (mmol/L)                             2590 non-null float64
Osmolality (mmol/Kg)                        2590 non-null float64
Phosphorus (mmol/L)                         2589 non-null float64
Total bilirubin (umol/L)                    2588 non-null float64
Total protein (g/L)                         2588 non-null float64
Triglycerides, refrigerated (mmol/L)        2587 non-null float64
Uric acid (umol/L)                          2588 non-null float64
dtypes: float64(49), int64(2)
memory usage: 1.1 MB

In [38]:
# There are some missing values all around, see how the df looks when you remove them
df_copy = df.copy()

In [39]:
# first drop diagnosis age since it only reflects the subset of women with breast cancer
df_copy = df_copy.drop(columns='Diagnosis Age')

In [40]:
# get rid off the missing valuess
df_copy = df_copy.dropna()
df_copy
# there were some women that were diagnosed with breast cancer that were not completely analysed.

,SEQN,Age,Breast Cancer,Diagnosed,BMXBMI,White blood cell count (1000 cells/uL),Lymphocyte percent (%),Monocyte percent (%),Segmented neutrophils percent (%),Eosinophils percent (%),...,"Iron, refrigerated serum (umol/L)",Potassium (mmol/L),Lactate dehydrogenase (U/L),Sodium (mmol/L),Osmolality (mmol/Kg),Phosphorus (mmol/L),Total bilirubin (umol/L),Total protein (g/L),"Triglycerides, refrigerated (mmol/L)",Uric acid (umol/L)
0,73561.0,73.0,0,0,19.7,6.6,20.5,6.9,68.7,2.4,...,16.3,4.1,201.0,142.0,290.0,1.421,8.55,71.0,0.994,249.8
1,73564.0,61.0,0,0,35.7,5.2,30.2,5.9,58.3,5.1,...,12.7,3.9,133.0,140.0,281.0,1.162,10.26,64.0,0.768,303.3
2,73566.0,56.0,0,0,26.5,9.5,31.3,7.7,57.5,3.3,...,6.4,4.0,132.0,139.0,277.0,1.679,6.84,66.0,2.958,208.2
3,73568.0,26.0,0,0,20.3,6.0,20.9,7.7,70.1,0.8,...,14.7,4.0,132.0,139.0,276.0,1.485,10.26,70.0,0.350,267.7
4,73574.0,33.0,0,0,22.8,4.6,25.6,7.3,65.2,1.4,...,6.8,4.3,120.0,139.0,276.0,0.872,15.39,72.0,0.260,160.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707,83705.0,35.0,0,0,25.6,7.9,27.3,7.2,62.8,2.1,...,12.0,3.6,119.0,139.0,278.0,1.582,6.84,71.0,1.185,220.1
2708,83711.0,38.0,0,0,33.5,6.1,32.0,6.6,57.9,2.7,...,13.6,3.3,186.0,143.0,282.0,1.001,8.55,65.0,1.502,196.3
2709,83717.0,80.0,0,0,21.3,6.8,20.8,7.9,69.3,1.3,...,7.7,3.7,138.0,139.0,282.0,0.904,10.26,74.0,1.445,345.0
2710,83718.0,60.0,0,0,27.4,7.5,30.9,7.2,60.1,1.3,...,15.0,3.5,137.0,141.0,280.0,1.518,15.39,70.0,0.847,291.5
2711,83729.0,42.0,0,0,34.0,6.4,38.4,9.9,49.3,1.9,...,8.8,3.8,108.0,139.0,277.0,1.066,3.42,67.0,1.197,315.2

In [41]:
df = pd.merge(df_copy, df[['SEQN', 'Diagnosis Age']], how='inner', on=['SEQN'])

#### Clean the column names, they ugly bro

In [42]:
df.columns = df.columns.str.lower().str.capitalize()

In [43]:
#rename the Seqn column
df = df.rename(columns={'Seqn':'Id'})

In [45]:
# control for duplicates
df.duplicated().sum()

0

In [46]:
# control for missing values
df.isna().sum()

Id                                             0
Age                                            0
Breast cancer                                  0
Diagnosed                                      0
Bmxbmi                                         0
White blood cell count (1000 cells/ul)         0
Lymphocyte percent (%)                         0
Monocyte percent (%)                           0
Segmented neutrophils percent (%)              0
Eosinophils percent (%)                        0
Basophils percent (%)                          0
Lymphocyte number (1000 cells/ul)              0
Monocyte number (1000 cells/ul)                0
Segmented neutrophils num (1000 cell/ul)       0
Eosinophils number (1000 cells/ul)             0
Basophils number (1000 cells/ul)               0
Red blood cell count (million cells/ul)        0
Hemoglobin (g/dl)                              0
Hematocrit (%)                                 0
Mean cell volume (fl)                          0
Mean cell hemoglobin (pg)                      0
Mchc (g/dl)                                    0
Red cell distribution width (%)                0
Platelet count (1000 cells/ul)                 0
Mean platelet volume (fl)                      0
Albumin (g/l)                                  0
Alkaline phosphatase (iu/l)                    0
Aspartate aminotransferase ast (iu/l)          0
Alanine aminotransferase alt (iu/l)            0
Blood urea nitrogen (mg/dl)                    0
Blood urea nitrogen (mmol/l)                   0
Bicarbonate (mmol/l)                           0
Total calcium (mmol/l)                         0
Cholesterol (mmol/l)                           0
Creatine phosphokinase(cpk) (iu/l)             0
Chloride (mmol/l)                              0
Creatinine (umol/l)                            0
Globulin (g/l)                                 0
Glucose, refrigerated serum (mmol/l)           0
Gamma glutamyl transferase (u/l)               0
Iron, refrigerated serum (umol/l)              0
Potassium (mmol/l)                             0
Lactate dehydrogenase (u/l)                    0
Sodium (mmol/l)                                0
Osmolality (mmol/kg)                           0
Phosphorus (mmol/l)                            0
Total bilirubin (umol/l)                       0
Total protein (g/l)                            0
Triglycerides, refrigerated (mmol/l)           0
Uric acid (umol/l)                             0
Diagnosis age                               2455
dtype: int64

In this dataset, 78 women have been diagnosed with cancer. I will randomly choose 78 healthy women to have groups of comparable sizes

In [49]:
df_healthy = df.loc[df['Breast cancer'] == 0]
df_healthy = df_healthy.sample(n=78)

In [53]:
df_final = df_healthy.append(df[df['Breast cancer']==1])

In [56]:
df_final = df_final.sort_values(by=['Id'])

In [57]:
df_final

,Id,Age,Breast cancer,Diagnosed,Bmxbmi,White blood cell count (1000 cells/ul),Lymphocyte percent (%),Monocyte percent (%),Segmented neutrophils percent (%),Eosinophils percent (%),...,Potassium (mmol/l),Lactate dehydrogenase (u/l),Sodium (mmol/l),Osmolality (mmol/kg),Phosphorus (mmol/l),Total bilirubin (umol/l),Total protein (g/l),"Triglycerides, refrigerated (mmol/l)",Uric acid (umol/l),Diagnosis age
9,73615.0,65.0,0,0,26.0,12.2,43.8,6.6,45.3,3.0,...,5.5,113.0,140.0,278.0,1.421,1.71,75.0,1.592,273.6,NaN
11,73618.0,54.0,1,1,32.7,2.9,29.7,11.4,57.5,1.1,...,4.7,75.0,142.0,284.0,1.162,15.39,68.0,0.824,261.7,49.0
19,73641.0,64.0,0,0,19.3,5.0,39.0,16.9,40.2,2.4,...,4.7,152.0,139.0,275.0,1.066,8.55,71.0,3.997,463.9,NaN
21,73645.0,54.0,0,0,29.2,8.8,28.5,5.9,62.7,2.0,...,3.9,117.0,139.0,282.0,1.259,10.26,66.0,3.082,350.9,NaN
24,73668.0,30.0,0,0,32.3,6.9,27.0,6.3,63.5,2.8,...,4.1,116.0,140.0,280.0,1.195,15.39,71.0,1.152,356.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,83406.0,80.0,1,1,23.4,7.6,37.5,7.5,52.0,2.5,...,3.9,150.0,143.0,286.0,1.259,6.84,67.0,1.445,321.2,70.0
2466,83424.0,57.0,1,1,27.6,5.1,35.0,7.6,53.8,3.0,...,3.8,112.0,140.0,284.0,1.195,8.55,75.0,0.994,398.5,50.0
2477,83464.0,75.0,1,1,28.6,7.9,16.1,11.5,59.4,11.8,...,3.9,142.0,143.0,288.0,1.421,8.55,68.0,1.276,517.5,65.0
2503,83597.0,42.0,0,0,29.4,7.2,25.0,7.0,63.8,3.4,...,4.0,99.0,136.0,271.0,1.259,6.84,68.0,2.552,291.5,NaN
2512,83647.0,20.0,0,0,29.3,16.4,17.7,4.0,77.2,0.9,...,3.6,92.0,139.0,276.0,1.098,1.71,62.0,1.784,249.8,NaN

In [58]:
# save the csv for further analysis
df_final.to_csv('nhanes_breast_cancer.csv')