In [1]:
import pandas as pd
import numpy as np

# TOTAL CANCER DEATHS BY TYPE

In [2]:
df = pd.read_csv('./OUR_WORLD_IN_DATA/total-cancer-deaths-by-type.csv')

In [3]:
df.columns = [i.split('cancer')[0].strip() for i in df.columns.to_list()]
df.columns = [i.split('(')[0].strip() for i in df.columns.to_list()]

In [4]:
cancer = df.columns.to_list()[3:]
df1 = df[['Entity','Code','Year','Liver']]
df1['Cancer'] = df1.columns.to_list()[3]
df1 = df1.rename(columns={df1.columns.to_list()[3]:'Death'})

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
df_final = df1.copy()
for i in cancer:
    df2 = df[['Entity','Code','Year',i]]
    df2['Cancer'] = df2.columns.to_list()[3]
    df2 = df2.rename(columns={df2.columns.to_list()[3]:'Death'})
    df_final=df_final.append(df2, ignore_index=True)

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
df_final

             Entity Code  Year       Death                Cancer
0       Afghanistan  AFG  1990  466.253436                 Liver
1       Afghanistan  AFG  1991  464.137333                 Liver
2       Afghanistan  AFG  1992  471.634765                 Liver
3       Afghanistan  AFG  1993  480.629105                 Liver
4       Afghanistan  AFG  1994  482.489934                 Liver
...             ...  ...   ...         ...                   ...
187567     Zimbabwe  ZWE  2013  508.000000  Non-Hodgkin lymphoma
187568     Zimbabwe  ZWE  2014  535.000000  Non-Hodgkin lymphoma
187569     Zimbabwe  ZWE  2015  558.000000  Non-Hodgkin lymphoma
187570     Zimbabwe  ZWE  2016  586.000000  Non-Hodgkin lymphoma
187571     Zimbabwe  ZWE  2017         NaN  Non-Hodgkin lymphoma

[187572 rows x 5 columns]

In [7]:
df_final = df_final.drop_duplicates()

In [8]:
df_final

             Entity Code  Year       Death                Cancer
0       Afghanistan  AFG  1990  466.253436                 Liver
1       Afghanistan  AFG  1991  464.137333                 Liver
2       Afghanistan  AFG  1992  471.634765                 Liver
3       Afghanistan  AFG  1993  480.629105                 Liver
4       Afghanistan  AFG  1994  482.489934                 Liver
...             ...  ...   ...         ...                   ...
187567     Zimbabwe  ZWE  2013  508.000000  Non-Hodgkin lymphoma
187568     Zimbabwe  ZWE  2014  535.000000  Non-Hodgkin lymphoma
187569     Zimbabwe  ZWE  2015  558.000000  Non-Hodgkin lymphoma
187570     Zimbabwe  ZWE  2016  586.000000  Non-Hodgkin lymphoma
187571     Zimbabwe  ZWE  2017         NaN  Non-Hodgkin lymphoma

[181104 rows x 5 columns]

In [9]:
df_final[df_final.isna().any(axis=1)]

,Entity,Code,Year,Death,Cancer
112,Andean Latin America,NaN,1990,1455.498059,Liver
113,Andean Latin America,NaN,1991,1507.107529,Liver
114,Andean Latin America,NaN,1992,1622.185583,Liver
115,Andean Latin America,NaN,1993,1706.710775,Liver
116,Andean Latin America,NaN,1994,1795.007145,Liver
...,...,...,...,...,...
187459,Western Sub-Saharan Africa,NaN,2017,NaN,Non-Hodgkin lymphoma
187487,World,OWID_WRL,2017,NaN,Non-Hodgkin lymphoma
187515,Yemen,YEM,2017,NaN,Non-Hodgkin lymphoma
187543,Zambia,ZMB,2017,NaN,Non-Hodgkin lymphoma
187571,Zimbabwe,ZWE,2017,NaN,Non-Hodgkin lymphoma

In [10]:
df_final.to_csv("total-cancer-deaths-by-type-clean.csv")

# Cancer death rates by type

In [50]:
df = pd.read_csv('./OUR_WORLD_IN_DATA/cancer-death-rates-by-type.csv')

In [51]:
df.columns = [i.split('cancer')[0].strip() for i in df.columns.to_list()]
df.columns = [i.split('(')[0].strip() for i in df.columns.to_list()]

In [52]:
cancer = df.columns.to_list()[3:]
df['Top']  = df[cancer].idxmax(axis=1)
df1 = df[['Entity','Code','Year','Top','Liver']]
df1['Cancer'] = df1.columns.to_list()[4]
df1 = df1.rename(columns={df1.columns.to_list()[4]:'Death'})

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [53]:
df_final = df1.copy()
for i in cancer:
    df2 = df[['Entity','Code','Year','Top',i]]
    df2['Cancer'] = df2.columns.to_list()[4]
    df2 = df2.rename(columns={df2.columns.to_list()[4]:'Death'})
    df_final=df_final.append(df2, ignore_index=True)

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [54]:
df_final = df_final.drop_duplicates()

In [55]:
df_final

,Entity,Code,Year,Top,Death,Cancer
0,Afghanistan,AFG,1990,Stomach,6.725641,Liver
1,Afghanistan,AFG,1991,Stomach,6.625772,Liver
2,Afghanistan,AFG,1992,Stomach,6.551800,Liver
3,Afghanistan,AFG,1993,Stomach,6.501491,Liver
4,Afghanistan,AFG,1994,Stomach,6.448006,Liver
...,...,...,...,...,...,...
148759,Zimbabwe,ZWE,2013,Prostate,11.352956,"Tracheal, bronchus, and lung"
148760,Zimbabwe,ZWE,2014,Prostate,11.100616,"Tracheal, bronchus, and lung"
148761,Zimbabwe,ZWE,2015,Prostate,10.964667,"Tracheal, bronchus, and lung"
148762,Zimbabwe,ZWE,2016,Prostate,10.822772,"Tracheal, bronchus, and lung"
148763,Zimbabwe,ZWE,2017,Prostate,10.645628,"Tracheal, bronchus, and lung"

In [56]:
df_final.to_csv('cancer-death-rates-by-type-clean.csv')

# share of population by cancer types
When broken down by type of cancer we see that breast cancer is globally the most prevalent form. Following breast cancer are prostrate and colon & rectum cancer.

When you change this chart to another country you see that across most countries these are the top three cancer forms.

In [63]:
df = pd.read_csv('./OUR_WORLD_IN_DATA/share-of-population-with-cancer-types.csv')

In [69]:
df.columns = [i.split('cancer')[0].strip() for i in df.columns.to_list()]
df.columns = [i.split('&')[0].strip() for i in df.columns.to_list()]
df.columns = [i.split('and')[0].strip() for i in df.columns.to_list()]
df.columns = [i.split(',')[0].strip() for i in df.columns.to_list()]
df = df.rename(columns={'Tracheal': 'Lung', 'Non-melanoma skin': 'Skin'})

Index(['Entity', 'Code', 'Year', 'Liver', 'Kidney', 'Larynx', 'Breast',
       'Thyroid', 'Bladder', 'Uterine', 'Ovarian', 'Stomach', 'Prostate',
       'Cervical', 'Testicular', 'Pancreatic', 'Esophageal', 'Nasopharynx',
       'Colon', 'Non-melanoma skin', 'Lip', 'Brain', 'Tracheal',
       'Gallbladder'],
      dtype='object')

In [73]:
cancer = df.columns.to_list()[3:]
df['Top']  = df[cancer].idxmax(axis=1)

In [75]:
df1 = df[['Entity','Code','Year','Top','Liver']]
df1['Cancer'] = df1.columns.to_list()[4]
df1 = df1.rename(columns={df1.columns.to_list()[4]:'Death'})

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
df_final = df1.copy()
for i in cancer:
    df2 = df[['Entity','Code','Year','Top',i]]
    df2['Cancer'] = df2.columns.to_list()[4]
    df2 = df2.rename(columns={df2.columns.to_list()[4]:'Death'})
    df_final=df_final.append(df2, ignore_index=True)

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [77]:
df_final = df_final.drop_duplicates()

In [78]:
df_final.to_csv('share-of-population-with-cancer-types-clean.csv')

In [80]:
df_final['Cancer'].value_counts()

Cervical       6468
Uterine        6468
Kidney         6468
Colon          6468
Lip            6468
Gallbladder    6468
Bladder        6468
Nasopharynx    6468
Larynx         6468
Esophageal     6468
Testicular     6468
Thyroid        6468
Breast         6468
Pancreatic     6468
Stomach        6468
Liver          6468
Skin           6468
Prostate       6468
Brain          6468
Lung           6468
Ovarian        6468
Name: Cancer, dtype: int64

# Section break - - - - - - - -

In [81]:
pd.read_csv('./OUR_WORLD_IN_DATA/disease-burden-rates-by-cancer-types.csv')

,Entity,Code,Year,"Liver cancer (DALYs lost per 100,000)","Breast cancer (DALYs lost per 100,000)","Kidney cancer (DALYs lost per 100,000)","Larynx cancer (DALYs lost per 100,000)","Stomach cancer (DALYs lost per 100,000)","Thyroid cancer (DALYs lost per 100,000)","Uterine cancer (DALYs lost per 100,000)",...,"Pancreatic cancer (DALYs lost per 100,000)","Testicular cancer (DALYs lost per 100,000)","Esophageal cancer (DALYs lost per 100,000)","Nasopharynx cancer (DALYs lost per 100,000)","Colon and rectum cancer (DALYs lost per 100,000)","Non-melanoma skin cancer (DALYs lost per 100,000)","Lip & oral cancer (DALYs lost per 100,000)","Brain & nervous system cancer (DALYs lost per 100,000)","Tracheal, bronchus, and lung cancer (DALYs lost per 100,000)","Gallbladder & biliary tract cancer (DALYs lost per 100,000)"
0,Afghanistan,AFG,1990,160.851485,262.257341,32.760049,104.618414,933.408324,22.368339,20.094709,...,51.765220,4.163921,246.040803,30.351490,252.449080,7.734134,34.058553,223.118958,313.424926,52.246029
1,Afghanistan,AFG,1991,158.757710,263.925179,31.871452,105.010991,939.662378,22.286724,20.066204,...,51.472100,4.111531,246.106988,30.214663,254.465887,7.773751,34.248972,219.034306,311.022737,52.325083
2,Afghanistan,AFG,1992,157.176282,267.865010,30.469139,105.600856,948.684147,22.243724,20.188175,...,51.228422,4.029807,246.839426,30.141221,257.410107,7.827430,34.468778,211.383025,308.853937,52.636167
3,Afghanistan,AFG,1993,156.550998,273.899598,30.001017,107.072735,966.381301,22.411250,20.406832,...,51.179939,4.064266,249.066886,30.412213,262.112293,7.925530,34.889751,212.116629,307.586596,53.097458
4,Afghanistan,AFG,1994,155.980674,279.479597,30.304001,109.282968,991.165996,22.673748,20.596191,...,51.211440,4.169374,252.095825,30.821765,267.825876,8.029707,35.398506,218.676723,307.137746,53.532752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,443.488959,311.042249,20.535129,66.070190,288.982909,25.039958,56.316330,...,141.546941,6.152804,382.481047,22.430805,259.818478,51.775056,56.617600,86.766910,272.082231,31.751008
6464,Zimbabwe,ZWE,2014,429.504461,306.174911,20.267148,63.828427,278.090742,24.546514,55.518615,...,140.629202,5.869214,370.864293,21.796152,254.923942,50.975264,55.437840,85.728588,265.451703,31.021307
6465,Zimbabwe,ZWE,2015,419.483567,300.709661,20.105223,62.577395,269.725365,24.081833,54.436600,...,140.652878,5.729088,363.527890,21.223129,252.401409,50.665602,54.919274,84.702810,262.046030,30.430469
6466,Zimbabwe,ZWE,2016,411.117418,298.336745,20.052082,61.316089,262.391251,23.786021,53.856454,...,140.867419,5.575674,356.442397,20.807310,250.313792,50.331485,54.505650,84.472690,258.505638,29.965794
6467,Zimbabwe,ZWE,2017,400.068036,293.711433,19.794448,59.988544,255.520814,23.387349,53.061276,...,140.005964,5.430274,348.997646,20.379783,246.640222,49.868754,53.891899,83.570462,254.078305,29.462359